<div class="projects__section container-fluid">
  <h2>Projects</h2>
  <div class="projects row">
    <app-project-item class="col-lg-4" [title]="'Recipe Page'" [background]="'../../../assets/images/recipe.png'"></app-project-item>
    <app-project-item class="col-lg-4" [title]="'Social Profile Links'" [background]="'../../../assets/images/social.png'"></app-project-item>
    <app-project-item class="col-lg-4" [title]="'FAQs'" [background]="'../../../assets/images/faqs.png'"></app-project-item>
  </div>
  <div class="projects row">
    <app-project-item class="col-lg-4" [title]="'Blog Preview Card'" [background]="'../../../assets/images/blog.png'"></app-project-item>
    <app-project-item class="col-lg-4" [title]="'Results Summary'" [background]="'../../../assets/images/summary.png'"></app-project-item>
    <app-project-item class="col-lg-4" [title]="'Product Preview Card'" [background]="'../../../assets/images/product.png'"></app-project-item>
  </div>
</div>
