<div class="about__section container-fluid row">
  <div class="about__header col-lg-4">
    <h2>About me</h2>
  </div>
  <div class="about__content col-lg-8">
    <p>
      I’m Nayera Hazem, a Front-End Developer with a Bachelor’s in Computer
      Engineering from Ain Shams University. I specialize in web development
      using C++, Java, Python, HTML, CSS, and JavaScript, with experience in
      React.js, SQL, and MongoDB. I’ve developed various projects including a
      recommendation system and desktop applications. I also have experience in
      teaching Arduino workshops.
    </p>
    <button (click)="downloadFile()">Download Resume</button>
  </div>
</div>
