.skill {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  width: 50rem;
}

.title {
  font-weight: bold;
  margin-right: 10px;
}

.title i {
  margin-right: 5px;
}

.progress {
  flex: 2;
  background-color: #e8e8e8;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  height: 20px;
  background-color: #2b00dd;
}
