<div class="skills__section conatiner-fluid row">
  <div class="skills__summary col-lg-12">
    <h2>Skills</h2>
    <p>
      Proficient in modern web development technologies and tools, including
      HTML5, CSS3, and JavaScript. Experienced with front-end frameworks such as
      React.js and adept in server-side programming with Python. Skilled in
      using development tools like Git, GitHub, and Postman. Familiar with
      databases such as SQL and MongoDB. Strong foundation in object-oriented
      programming, data structures, algorithms, and design patterns. Experienced
      in both software testing and problem-solving, with hands-on project
      experience in building web applications and desktop software.
    </p>
  </div>
  <div class="skills col-lg-12">
    
  </div>
</div>
