.skills__section {
  background-color: #7876f3ed;
  color: #fff;
  padding: 2rem;
}

.skills__summary {
  max-width: 70rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 30px;
}

.skills__summary h2 {
  font-size: 50px;
  text-shadow: 2px 2px #e7e7e796;
  font-weight: 600;
}

.skills__section p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 2rem;
}

.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
