<div class="skills__section conatiner-fluid row">
  <div class="skills__summary col-lg-12">
    <h2>Skills</h2>
    <p>
      Proficient in modern web development technologies and tools, including
      HTML5, CSS3, and JavaScript. Experienced with front-end frameworks such as
      React.js and adept in server-side programming with Python. Skilled in
      using development tools like Git, GitHub, and Postman. Familiar with
      databases such as SQL and MongoDB. Strong foundation in object-oriented
      programming, data structures, algorithms, and design patterns. Experienced
      in both software testing and problem-solving, with hands-on project
      experience in building web applications and desktop software.
    </p>
  </div>
  <div class="skills col-lg-12">
    <app-skill-item [title]="'HTML5'" [iconClass]="'fa-brands fa-html5'" [percentage]="90"></app-skill-item>
    <app-skill-item [title]="'CSS3'" [iconClass]="'fa-brands fa-css3'" [percentage]="85"></app-skill-item>
    <app-skill-item [title]="'JavaScript'" [iconClass]="'fa-brands fa-js'" [percentage]="75"></app-skill-item>
    <app-skill-item [title]="'React.js'" [iconClass]="'fa-brands fa-react'" [percentage]="45"></app-skill-item>
    <app-skill-item [title]="'C++'" [percentage]="70"></app-skill-item>
    <app-skill-item [title]="'Java'" [iconClass]="'fa-brands fa-java'" [percentage]="70"></app-skill-item>
    <app-skill-item [title]="'MongoDB'" [percentage]="50"></app-skill-item>
    <app-skill-item [title]="'SQL'" [iconClass]="'fa-solid fa-database'" [percentage]="50"></app-skill-item>
    <app-skill-item [title]="'Git'" [iconClass]="'fa-brands fa-git-alt'" [percentage]="80"></app-skill-item>
    <app-skill-item [title]="'GitHub'" [iconClass]="'fa-brands fa-github'" [percentage]="90"></app-skill-item>
    <app-skill-item [title]="'Angular'" [iconClass]="'fa-brands fa-angular'" [percentage]="30"></app-skill-item>
    <app-skill-item [title]="'TypeScript'" [iconClass]="'fa-brands fa-js'" [percentage]="40"></app-skill-item>
  </div>
</div>
